// app main fonts

// Ubuntu font
@font-face {
    font-family: Ubuntu;
    src: url("/fonts/ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: Ubuntu Bold;
    src: url("/fonts/ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: Ubuntu Bold Italic;
    src: url("/fonts/ubuntu/Ubuntu-BoldItalic.ttf");
}
@font-face {
    font-family: Ubuntu Italic;
    src: url("/fonts/ubuntu/Ubuntu-Italic.ttf");
}
@font-face {
    font-family: Ubuntu Light;
    src: url("/fonts/ubuntu/Ubuntu-Light.ttf");
}
@font-face {
    font-family: Ubuntu Light Italic;
    src: url("/fonts/ubuntu/Ubuntu-LightItalic.ttf");
}
@font-face {
    font-family: Ubuntu Medium;
    src: url("/fonts/ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: Ubuntu Medium Italic;
    src: url("/fonts/ubuntu/Ubuntu-MediumItalic.ttf");
}

