// app main colors, primary, secondary and etc...


$primary-color: #0F9DE8;
$secondary-color: #eb5a6d;
$third-color: #00c2cb;
$splash-bg: #343a34;
$header-background: #ffffff;
$active-bg: rgba(255, 91, 91, 0.15);
$admin-title-color: #464255;
$admin-paragrah-color: #A3A3A3;

$border-radius: 10px;

$header-text-color: #8c94a3;
$text-color: #8c94a3;

$alert-color: #0F9DE8;
$alert-bg: rgba(255, 91, 91, 0.15);

$dark-min-color: #343a34;