@use "../../Sass/fonts.scss" as fonts;
@use "../../Sass/variables.scss" as variables;


.admin-table {

    thead {
        border-bottom: 1px solid rgb(247, 247, 251);
        height: 50px;
    }

    table {
        border: transparent;
        --bs-table-bg: transparent !important;

        thead {
            tr th {
                text-align: justify;
                color: #7d8fa9;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
            }
            tr th:last-child {
                text-align: center;
            }
        }
        tbody {
            tr td,
            tr td p {
                color: #586a84;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            tr {
                background: #fff;
                border-radius: 0px;
                height: 70px;
            }
            td {
                vertical-align: middle;
            }
        }
    }

    .page-item.active .page-link {
        background-color: variables.$secondary-color !important;
        border-color: variables.$secondary-color !important;
        color: #ffffff !important;
    }
    
    button#pageDropDown {
        background-color: variables.$secondary-color !important;
        border-color: variables.$secondary-color !important;
        color: #ffffff !important;
    }

    .table_action__btn,
    .table_action__btn:hover {
        color: #4e5566;
        border: none;
        width: 24.86px;
        height: 24.86px;
        padding: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .table_action__btn::after {
        content: attr(data-tooltip-content);
        padding: 8px;
        border-radius: 4px;
        position: absolute;
        top: 77%;
        right: 50%;
        left: 50%;
        width: max-content;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: variables.$primary-color;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 18px) scale(0.8);
        transition: visibility, opacity, transform 200ms;
    }

    // .table_action__btn {
    //     .see_icon {
    //         color: $primary-color;
    //     }
    //     .update_icon {
    //         color: #7d8fa9;
    //     }
    //     .delete_icon {
    //         color: #FF5B5B;
    //     }
    // }

    .fullname {
        color: #3b4758 !important;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .photo__wrapper img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        object-fit: cover;
    }
    

}

