@use "../../../Sass/fonts.scss" as fonts;
@use "../../../Sass/variables.scss" as variables;

/* banner -- start */
.banner {
    padding: 10rem 0 11rem;
    background: linear-gradient(217deg, variables.$primary-color, rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, variables.$primary-color, rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, variables.$primary-color, rgba(0,0,255,0) 70.71%);
    background-position: center right;

    h1 {
        margin: 0;
        font-size: 2.6rem;
        color: #fff;
        font-weight: 700;
    }
    
}

.custom_banner {
    margin-top: -6rem;

    .custom_card {
        padding: 1.5rem;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        border-radius: 10px;
        box-shadow: 0px 4px 25px 0px rgba(8, 37, 103, 0.1);
        height: 100%;

        .title {
            font-size: 1.5rem;
            font-weight: 800;
        }

        .description {
            padding: 10px 0;
        }

        .custom_btn {
            background: linear-gradient(217deg, variables.$primary-color, rgba(255,0,0,0) 70.71%),            
                        linear-gradient(127deg, variables.$primary-color, rgba(0,255,0,0) 70.71%),            
                        linear-gradient(336deg, variables.$primary-color, rgba(0,0,255,0) 70.71%);
            color: #fff;
            font-weight: 700;
            transition: .3s ease;
            border-radius: 8px;
            padding: 5px 15px;
        }

        .custom_btn:hover {
            background-color: variables.$primary-color;
        }

        .custom_card__right {
            padding: 5rem;
            background-size: cover;
            background-position: center center;
        }

        .daily_courses__illustration {
            background-image: url(/images/home/daily-course.png);
        }

        .home_and_advertisement__illustration {
            background-image: url(/images/home/home-and-advertise.png);
        }
    }
}
/* banner -- end */