@use "../../Sass/fonts.scss" as fonts;
@use "../../Sass/variables.scss" as variables;


.product__card {
    border: 1px solid #e5e5e5;
    height: 100%;

    .cover__wrapper, 
    .cover__wrapper img {
        width: 100%;
        height: 270px;
    }
    .cover__wrapper img {
        object-fit: cover;
    }

    .price {
        font-size: 1rem;
        font-weight: 800;
    }

    .cart {
        display: grid;
        place-items: center;
        padding: 8px;
        background: variables.$primary-color;
        color: #ffffff;
        border-radius: 6px;
        font-size: 24px;
    }

    .product__name {
        font-size: 1.2rem;
        line-height: normal;
        font-weight: 600;
    }
    .product__name:hover {
        font-weight: 900;
        text-decoration: underline;
        color: inherit;
    }
}



