/* 
    ########################################################################
    ########################################################################
    ############################  AUTH  ##############################
    ########################################################################
    ########################################################################
*/


/* 
    ###################################################################
    ###################################################################
    ############################  ADMIN  ##############################
    ###################################################################
    ###################################################################
*/






/* 
    ###########################################################################
    ###########################################################################
    ############################  FRONT VISITOR  ##############################
    ###########################################################################
    ###########################################################################
*/

// ======================== For all ========================
@media (max-width: 992px) {
    .half_content, .semi__half_content {
        width: 100%;
    }
}


//  ======================= Home ========================= 


//  ======================= Products ========================= 







/* 
    ########################################################################
    ########################################################################
    ############################  FRONT USER  ##############################
    ########################################################################
    ########################################################################
*/